.appToDoList form {
    display: flex;    
    justify-content: center;
    flex-direction: column;
    
    
    
    
}

.appToDoList form .inputs {
    display: flex;
    align-self: center;    
}

.appToDoList form .inputs > div {
    margin-right: 40px;
    display: flex;
    flex-direction: column;  
}

.appToDoList form .button {
    width: 200px;
    align-self: center;
    margin-top: 20px;
    border: 2px solid;
    color: white;
    background-color: black;
    text-align: center;
    
}

.appToDoList form .button:hover {
    color: green;
    cursor:default
}
