main {
    
}

.toDoListBanner > svg {

   
    z-index: -2;
    position: relative;
   
    margin: auto;

    justify-content: center;   
    width: 100vw;

}


.doLogin {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: black;
    color: white;
    width: 250px;
    text-align: center;
    
}

.doLogin:hover {
    color: rgb(9, 234, 9);
    border: solid 2px rgb(9, 234, 9);
    cursor:default
}