@media (min-width:650px) {
    .post {
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainPosts {
        display: flex;
        flex-direction: row;
    }

    .postsList {
        border: solid 2px green;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

    .postsList img {
        max-width: 200px;
        height: 200px;
    }

    .previousPost {
        margin-right: 10px;
    }

    .nextPost {
        margin-left: 0px;
        rotate: 180deg;
    }
}