@media(min-width:1040px) {

    section {
        display: flex;
        flex-direction: row;    
    
    }

    .logoSvg {
        z-index: -1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        margin: 0 px;
        padding: 0px;
    }


    section > .sectionRight, section > .sectionLeft {
        display: flex;
        flex-direction: row;    
        padding: 10px;
    
    
    
    }

    section > .sectionLeft {    
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    section > .sectionLeft > svg {
        margin-top: 25px;
    }

    section > .sectionRight {
        margin: auto;
    }
    

}


@media(max-width:1040px) {

   .logoSvg, img{
    display: none;
   }

   .sectionLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

}


