nav{
    display: flex;
    flex-direction: row;
    
    padding: 10px;
    
    
}

nav > .navRight, nav > .navLeft {
    display: flex;
    flex-direction: row;    
    padding: 10px;
   
    width: 50%;

}

nav > div, nav > button {
    margin-left: 5px;
}

nav > .navRight {
    
   justify-content: start;
   
}

.navRight > div {
   
    align-self: center;
}

.navLeft > div {
    color: white;
    background-color: black;
    align-self: center;
    padding: 5px 20px 5px 20px;
}

nav > .navLeft {
    justify-content: end;
}

.logo{
    color: green;
   font-size: 50px;
    transform: rotate(90deg)
}

nav > button {
   align-content: end;
    
}



.loginFormBackground{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.763);
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    visibility: hidden;  
   
}



.loginForm{
    
    display: flex;
    margin: auto;
    justify-content: center;    
    width: 400px;
    height: 400px;
    background-color: white;
   
}


.loginForm > div {

    display: flex;
    margin: auto;
    justify-content: center;    
   
    

}



