nav{
    display: flex;
    flex-direction: row;
    
    padding: 10px;
    
    
}

nav > .navRight, nav > .navLeft {
    display: flex;
    flex-direction: row;    
    padding: 10px;
   
    width: 50%;

}

nav > div, nav > button {
    margin-left: 5px;
}

nav > .navRight {
    
   justify-content: start;
   
}

.navRight > div {
   
    align-self: center;
}

.navLeft > div {
    color: white;
    background-color: black;
    align-self: center;
    padding: 5px 20px 5px 20px;
}

nav > .navLeft {
    justify-content: end;
}

.logo{
    color: green;
   font-size: 50px;
    transform: rotate(90deg)
}

nav > button {
   align-content: end;
    
}


