.emailForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailForm > div {
    margin: 10px;
    
    
}

.emailName, .emailContact, .emailMessage, .imgForm, .getInTouch {
    
    width: 300px;
    
}

.emailContact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    

}

.emailContact > * {
    
    width: 145px;
    
}

.emailName, .emailContact > *, .emailMessage {
    
    display: flex;
    flex-direction: column;
}

.imgForm {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.imgForm > img{

    
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.imgForm > rect {
    width: 90px;
    height: 60px;
}

.imgForm > svg {
   
    display: flex;    
    z-index: -1;
   
}

